body{
font-family:Arial;
margin:0;
background:#f4f6f8;
text-align:center;
}

header{
background:#4a6cf7;
color:white;
padding:60px;
}

nav{
background:#333;
padding:15px;
}

nav a{
color:white;
margin:15px;
text-decoration:none;
font-weight:bold;
}

section{
padding:50px;
}

.container{
display:flex;
justify-content:center;
gap:20px;
flex-wrap:wrap;
}

.card{
background:white;
padding:25px;
width:220px;
border-radius:10px;
box-shadow:0 5px 15px rgba(0,0,0,0.1);
}

button{
background:#4a6cf7;
color:white;
border:none;
padding:12px 25px;
border-radius:5px;
cursor:pointer;
}

footer{
background:#222;
color:white;
padding:20px;
}

.project-btn{
display:inline-block;
margin-top:10px;
padding:10px 20px;
background:#4a6cf7;
color:white;
text-decoration:none;
border-radius:5px;
}
